<html>
    <head>
        
        <link rel="stylesheet" href="/static/style.css">
        <title> HUMMUS BOOKS</title>
    </head>
<body>
    <h1> WELCOME TO HUMMUS BOOKS ONLINE</h1>
    <h2>About US</h2>
    <p>This website has been setup so that you can check which books are currently in stock</p>
    <h2>Here is what a book looks like if you have never seen one before</h2>
    <img src="https://images.pexels.com/photos/31881619/pexels-photo-31881619.jpeg" width="500" height="500" alt="a stack of books, stacked slightly angled to each other making a messy pile"><img>
    <p>And thats all we managed so far in the time we had... GREAT!</p>

</body>
</html>