<!-- from books.htm this is rthe cioming section coding out untill i create this db -->
<div class="coming">
    <h2>COMING SOON</h2>
    <ul>
        <li class="book">
            <!-- <img src="https://picsum.photos/seed/5/250/350"> -->
            Testing Systems
        </li>

        <li class="book">
            <!-- <img src="https://picsum.photos/seed/4/250/350"> -->
            API KING
        </li>

        <li class="book">
            <!-- <img src="https://picsum.photos/seed/1/250/350"> -->
            Cypher
        </li>

        <li class="book">
            <!-- <img src="https://picsum.photos/seed/2/250/350"> -->
            Laws of TDD
        </li>

        <li class="book">
            <!-- <img src="https://picsum.photos/seed/3/250/350"> -->
            Kebab King
        </li>
    </ul>
</div>